<% include ../../partials/header %>
<%
function getFormattedDate(date) {
  var year = date.getFullYear();

  var month = (1 + date.getMonth()).toString();
  month = month.length > 1 ? month : '0' + month;

  var day = date.getDate().toString();
  day = day.length > 1 ? day : '0' + day;

  return day + '/' + month + '/' + year;
}
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1;

var yyyy = today.getFullYear();
if(dd < 10){
    dd='0'+dd;
}
if(mm < 10){
    mm='0'+mm;
}
var today = dd+'/'+mm+'/'+yyyy;
%>
<%
var GTotal=0;
var total=0;
var price=0;
var quantity=0;
for(var sprod of saleProd ){
  if(sale.id == sprod.sale){
    price=sprod.price;
    quantity= sprod.qty;
    total=price *quantity;
    GTotal= GTotal + total;
 } } %>

 <%
 var fAmount=0;
 var amount = 0;
 var balance =0;
 for(var pay of payment ){
   if(sale.id == pay.sale){
     amount=pay.amount;
     fAmount = amount+ fAmount;
   }
 }
balance=GTotal-fAmount; %>
<div class="page-header">
	<div class="page-title">
    Sale :: <%= sale.created_at %>
    <% if(saleConn){ %> 
      <button type="button" class="btn btn-success pull-right">Web</button>
    <% } %>
  </div>
  <br>
	<div class="page-actions">
    <select class="form-control" name="sale-status" id="sale-status" style="max-width: 120px;">
      <option value="Open" <% if(sale.status=='Open'){ %> selected <% } %>>Open</option>
      <option value="Shipped" <% if(sale.status=='Shipped'){ %> selected <% } %>>Shipped</option>
      <option value="Pending" <% if(sale.status=='Pending'){ %> selected <% } %>>Pending</option>
      <option value="Cancelled" <% if(sale.status=='Cancelled'){ %> selected/<% } %>>Cancelled</option>
      <% if(balance==0){ %><option value="Closed" <% if(sale.status=='Closed'){ %> selected <% } %>>Closed</option> <% } %>
    </select>
    <a class="btn btn-outline-success pull-right" href="/sale/view/<%= sale.id %>/invoice">Invoice</a>
    <% if(balance==0){ %>
      <!-- <button class="btn btn-outline-success pull-right" type="button" data-toggle="modal" data-target="#salePdf-Modal">Cash Sale</button> -->
    <% }else{ %>
      <!-- <button class="btn btn-outline-primary pull-right" type="button" data-toggle="modal" data-target="#invoice-Modal">Invoice</button> -->
    <% } %>
    <div id="total-cont">
      <button type="button" class="btn btn-<% if(balance==0){ %>success<% } else { %>primary<% } %>">
        TOTAL <span class="badge badge-light">
            <% if(saleConn){ %>
              <% var ship=0; for(var saleW of saleWeb){
                  if(saleW.id == saleConn.web){
                    ship= GTotal
               } } %>
              <%= ship %>
            <% } else{ %>
              <%= GTotal %>
            <% } %>
            </span>
      </button>
      <!-- <a href="/sale/view/<%= sale.id %>/pdf" class="btn btn-success">Pdf View</a> -->
      </div>
	</div>
</div>
<div class="page-content">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="md-form">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" value="<%= sale.client.first_name %>" class="form-control" disabled>
      </div>
      <div class="md-form">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" value="<%= sale.client.last_name %>" class="form-control" disabled>
      </div>
      <div class="md-form">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= sale.client.email %>" class="form-control" disabled>
      </div>
      <div class="md-form">
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" value="<%= sale.client.phone %>" class="form-control" disabled>
      </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
        <% if(saleConn){
          for(var saleW of saleWeb){
            if(saleW.id == saleConn.web){ %> 
      <h4>Delivery</h4>
      <table class="table table-striped table-hover table-sm">
        <tr>
          <th>Delivery Location</th>
        </tr>
        <tr>
            <td><%= saleW.delivery_location %></td>
        </tr>
      </table>
      <hr>
      <% } } } %>
      <h4>Products Bought</h4>
      <button class="btn btn-success pull-right" type="button" data-toggle="modal" data-target="#addProd-Modal">Add</button>
      <table class="table table-striped table-hover table-sm data-tables">
    		<thead class="thead-dark">
        <th>Product</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% for(var sprod of saleProd ){ 
            if(sale.id == sprod.sale){ %>
          <tr>
            <td><%= sprod.product.title %></td>
            <td><%= sprod.price %></td>
            <td>
              <% var qty=0; %>
              <%= sprod.qty %></td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <!-- <button type="button" class="btn btn-primary" id="<%= sprod.id %>" onclick="sale_addImei('<%= sprod.product.id %>')">Imei</button>
                <% if(qty !=0){ %>
                   <button type="button" class="btn btn-warning" id="<%= sprod.id %>" onclick="sale_editImei('<%= sprod.id %>')">Edit Imei</button>
              <% } %> -->
                <button type="button" class="btn btn-success" id="<%= sprod.id %>" onclick="sale_edit('<%= sprod.id %>')">Edit</button>
              </div>
            </td>
          </tr>
        <% } } %>
      </tbody>
    </table>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%
      for(var c of sCourier){
        if(sale.id == c.sale){ %>
          <h4 class="pull-left">Courier</h4>
          <div class="clearfix"></div>
            <!-- <button class="btn btn-outline-primary pull-right" type="button" data-toggle="modal" data-target="#shipped-edit">Update Courier</button> -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Location</label>
                <%
                  for(var l of location){
                    if(l.id == c.courier){
                      for(var cou of courier ){
                        if(l.courier == cou.id){ %>
                      <input type="text" name="" value="<%= cou.name %>" disabled>
                    <% } } }
                  }
                %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Location</label>
                <%
                  for(var l of location){
                    if(l.id == c.courier){
                      for(var d of dLoc ){
                        if(l.branch == d.id){ %>
                      <input type="text" name="" value="<%= d.location %>" disabled>
                    <% } } }
                  }
                %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Waybill</label>
                <input type="text" name="" value="<%= c.waybill %>" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Paid Amount</label>
                <input type="text" name="" value="<%= c.payment_amount %>" disabled>
              </div>
            </div>
          </div>
        <% }
      }
      %>
      <h4 class="pull-left">Payment</h4>
      <% if(balance !=0){ %>
        <button class="btn btn-outline-primary pull-right" type="button" id="<%= sale.id %>" onclick="sale_payment('<%= sale.id %>')">make payment</button>
      <% } %>

      <table class="table table-bordered table-striped table-hover table-heading">
        <thead>
          <th>Date</th>
          <th>Amount</th>
          <th>Balance</th>
        </thead>
        <tbody>
          <% var paidAmount=0;
           for(var pay of payment) {
            if(sale.id == pay.sale){ paidAmount=paidAmount + pay.balance %>
            <tr>
              <td><%= pay.created_at %></td>
              <td><%= pay.amount %></td>
              <td><%= pay.balance %></td>
            </tr>
          <% } } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h4 class="pull-left">Status</h4>
      <table class="table table-bordered table-striped table-hover table-heading">
        <thead>
          <th>Status</th>
          <th>Reason</th>
          <th>Date</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% for(var s of status) { %>
            <tr>
              <td><%= s.status %></td>
              <td><%= s.reason %></td>
              <td><%= s.created_at %></td>
              <td><button type="button" name="button" onclick="sale_status('<%= s.id %>')" class="btn btn-outline-info">Edit</button></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="invoice-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body padding-20">
      <input type="button" value="Print" id="btnPrintInvoice" class="btnPrint btn btn-success" />
      <div id="dvContainerInvoice">
        <div class="pdf-container">
          <div class="header">
            <div class="logo">
              <img src="/assets/img/logo.jpg" alt="logo" class="logo">
            </div>
            <div class="info">
              <p>Zuricart Kenya</p>
              <p>Jamia Plaza, 2nd Floor</p>
              <p>Kimathi Street</p>
              <p>0712944000</p>
              <p>sales@zuricart.co.ke</p>
            </div>
            <div class="clearfix"></div>
            <div class="title">
                invoice
              </div>
          </div>
          <div class="body">
            <div class="body-top">
              <div class="bill">
                  <div class="title">
                    Billed To
                  </div>
                  <p><%= sale.client.first_name %> <%= sale.client.last_name %></p>
                  <p><%= sale.client.phone %></p>
                  <p><%= sale.client.email %></p>
                </div>
                <div class="invoice_info">
                  <!-- <p>Invoice No. <span><%= sale._id %></span></p> -->
                  <p>Date <span><%= today %></span></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped table-hover table-sm">
                  <thead class="thead-dark">
                  <th>Product</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <% var gTotal=0; for(var sprod of saleProd ){
                      if(sale.id == sprod.sale){
                        var total;
                        gTotal=gTotal+(sprod.qty*sprod.price);%>
                    <tr>
                      <td><%= sprod.product.title %></td>
                      <td><%= sprod.price %></td>
                      <td>
                        <% var qty=0;  %>
                        <%= sprod.qty %></td>
                      <td>
                        <%= sprod.qty*sprod.price %>
                      </td>
                    </tr>
                  <% } } %>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Ksh. <%= gTotal %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <table id="total-table">
                <!-- <tr>
                  <th>Discount</th>
                  <td>Ksh. 0</td>
                </tr> -->
                <tr>
                  <th>Total</th>
                  <td>Ksh. <%= gTotal %></td>
                </tr>
                <tr>
                  <th>Paid </th>
                  <td>Ksh. <%= paidAmount %></td>
                </tr>
                <tr>
                  <th>Balance</th>
                  <td>Ksh. <%= gTotal - paidAmount %></td>
                </tr>
              </table>
            </div>
          </div>
          </div>
          <div class="footer">
            <div id="user">
              <div class="title">Created By:: </div> <div class="name"><%= user.last_name %></div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="salePdf-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body padding-20">
      <input type="button" value="Print" id="btnPrintSale" class="btnPrint btn btn-success" />
      <div id="dvContainerSale">
        <div class="pdf-container">
          <div class="header">
            <div class="logo">
              <img src="/assets/img/logo.jpg" alt="logo" class="logo">
            </div>
            <div class="info">
              <p>Zuricart Kenya</p>
              <p>Jamia Plaza, 2nd Floor</p>
              <p>Kimathi Street</p>
              <p>0712944000</p>
              <p>sales@zuricart.co.ke</p>
            </div>
            <div class="clearfix"></div>
            <div class="title">
                Cash Sale
              </div>
          </div>
          <div class="body">
            <div class="body-top">
              <div class="bill">
                  <div class="title">
                    Billed To
                  </div>
                  <p><%= sale.client.first_name %> <%= sale.client.last_name %></p>
                  <p><%= sale.client.phone %></p>
                  <p><%= sale.client.email %></p>
                </div>
                <div class="invoice_info">
                  <!-- <p>Invoice No. <span><%= sale._id %></span></p> -->
                  <p>Date <span><%= today %></span></p>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <table class="table table-striped table-hover table-sm">
          		<thead class="thead-dark">
              <th>Product</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
            </thead>
            <tbody>
              <% var gTotal=0; for(var sprod of saleProd ){
                  if(sale.id == sprod.sale){
                    var total;
                     gTotal=gTotal+(sprod.qty*sprod.price);%>
                <tr>
                    
                      <td style="width:50%;"><%= sprod.product.title %></td>
                    
                  <td><%= sprod.price %></td>
                  <td>
                    <% var qty=0;  %>
                    <%= sprod.qty %></td>
                  <td>
                    <%= sprod.qty*sprod.price %>
                  </td>
                </tr>
              <% } } %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Ksh. <%= gTotal %></td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <table id="total-table">
                <!-- <tr>
                  <th>Discount</th>
                  <td>Ksh. 0</td>
                </tr> -->
                <!-- <tr>
                  <th>Subtotal</th>
                  <td>Ksh. 0</td>
                </tr> -->
                <tr>
                  <th>Total</th>
                  <td>Ksh. <%= gTotal %></td>
                </tr>
                <!-- <tr>
                  <th>Balance</th>
                  <td>Ksh. 0</td>
                </tr> -->
              </table>
            </div>
          </div>
          </div>
          <div class="footer">
            <div class="terms">
              <h5>Terms And Conditions</h5>
              <ul>
                <li>Warranty doesn't cover Screen</li>
                <li>Warranty doesn't cover a bricked motherboard caused by unauthorised Software alterations and user negligence.</li>
                <li>Warranty doesn't cover liquid damage, physical damage and defects caused by mishandling.</li>
                <li>No warranty on accessories, should be tested on purchase</li>
              </ul>
            </div>
            <div id="user">
              <div class="title">Created By:: </div> <div class="name"><%= user.last_name %></div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sale-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div id="imeiBody" class="modal-body padding-20">

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shipped-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div id="shippedBody" class="modal-body padding-20">
        <form action="/sale/add-shipped/<%= sale.id %>" method="post" role="form" class="row" autocomplete="off">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="md-form">
              <label for="location">Location</label>
              <select id="sale-courier" class="custom-select" name="location">
                <option selected>Choose Location</option>
                <% for(var d of dLoc){ %>
                  <option value="<%= d.id %>"><%= d.location %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addProd-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width: 90% ;max-width: 90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body padding-20">
        <form action="/sale/add-product/<%= sale.id %>" method="post" role="form" class="row" autocomplete="off">
          <div class="col-md-6">
            <div class="total-fig" style="display: none">0</div>
            <table class="table table-striped table-hover table-sm">
              <thead class="thead-dark">
              <th>Product</th>
              <th>Price</th>
              <th>Action</th>
            </thead>
            <tbody id="prod_sec">
      
            </tbody>
          </table>
          <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
        </div>
          <div class="col-md-6">
            <table class="table table-striped table-hover table-sm data-tables">
              <thead class="thead-dark">
                  <tr>
                    <td></td>
                    <th>Title</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var prod of products){ %>
                  <tr id="tr_<%= prod.id %>">
                    <td>
                      <div class="form-group checkbox-warning-filled">
                          <input type="checkbox" name="product[]" value="<%= prod.id %>" id="ch_<%= prod.id %>" class="filled-in" onclick="addprod('<%= prod.id %>')">
                          <label for="<%= prod.id %>"></label>
                          <input type="hidden" name="product[]" value="<%= prod.id %>" id="P_<%= prod.id %>">
                          <input type="hidden" value="<%= prod.title %>" id="title_<%= prod.id %>">
                          <input type="hidden" value="<%= prod.price %>" id="price_<%= prod.id %>">
                          <input type="hidden" value="<%= prod.cost %>" id="cost_<%= prod.id %>">
                      </div>
                    </td>
                    <td><%= prod.title %></td>
                </tr>
                <% } %>
        
                </tbody>
              </table>
          </div>
          
          <div class="col-md-6 col-sm-6 col-xs-12"></div>
          
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shipped-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body padding-20">
        <%
        for(var c of sCourier){
          if(sale.id == c.sale){ %>
            <% var field_location='';
              for(var l of location){
                if(l.id == c.courier){
                  for(var d of dLoc ){
                    if(l.branch == d.id){
                   field_location = d.location ;
                 } } }
              }
            %>
        <form action="/sale/edit-shipped/<%= c.id %>" method="post" role="form" class="row" autocomplete="off">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="md-form">
              <label for="location">Location</label>
              <select id="sale-courier" class="custom-select" name="location">
                <option selected>Choose Location</option>
                <% for(var d of dLoc){ %>
                  <option value="<%= d.id %>" <% if(d.id == location){ %>selected  <% } %>><%= d.location %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="md-form">
              <label for="courier">Courier</label>
              <select id="courier" class="custom-select" name="courier">
                <option selected>Choose Courier</option>

              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="md-form">
              <label for="waybill">Waybill</label>
              <input class="form-control" name="waybill" value="<%= c.waybill %>">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label for="payment">Payment</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="payment" id="p-paid" value="Not Paid" <% if(c.payment_status == 'Not Paid'){%>checked<%}%>>
              <label class="form-check-label" for="p-paid">
                Not Paid
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="payment" id="n-paid" value="Paid" <% if(c.payment_status == 'Paid'){%>checked<%}%>>
              <label class="form-check-label" for="n-paid">
                Paid
              </label>
            </div>
          </div>
          <div class="form-group col-md-12">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
        <% } } %>
      </div>
    </div>
  </div>
</div>
<input type="hidden" name="id" value="<%= sale.id %>">
<% include ../../partials/footer %>
