<div class="row">
  <h4 class="col-sm-12">Edit Product Order</h4>
  <form class="row" action="/sale/edit_prod_sale/<%= saleProd.id %>" method="post">
    <input type="hidden" name="_method" value="put">
      <% for( var prod of products){
          if(saleProd.product == prod.id){
        %>
        <div class="col-sm-6">
          <label for="title">Title</label>
    			<input type="text" id="title" class="form-control" value="<%= prod.title %>" placeholder="Title">
    		</div>
        <% } } %>
        <div class="col-sm-6">
          <label for="price">Price</label>
    			<input type="text" id="price" class="form-control" name="price" value="<%= saleProd.price %>" placeholder="Price">
    		</div>
        <div class="col-sm-6">
          <label for="cost">Cost</label>
    			<input type="text" id="cost" class="form-control" name="cost" value="<%= saleProd.cost %>" placeholder="Cost">
    		</div>
        <div class="col-sm-6">
          <label for="qty">Quantity</label>
    			<input type="text" id="qty" class="form-control" name="qty" value="<%= saleProd.qty %>" placeholder="Quantity">
    		</div>
        <input type="hidden" name="id" value="<%= saleProd.sale %>">

      <div class="clearfix"></div>
      <div class="form-group col-sm-12 padding-15">
        <button type="submit" class="add_imei btn btn-primary" onclick="sale_addImei('<%= saleProd.id %>')">Submit</button>
      </div>
  </form>
</div>
