<% include ../../partials/header %>
<div class="row">
  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>Edit Entity<small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form action="/settings/edit-entity/<%= entity.id %>" method="post">
          <div class="form-group row">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Unique Identifier</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="identifier" class="form-control" value="<%= entity.identifier %>" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="title" class="form-control" value="<%= entity.title %>" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Input Type</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" name="input_type" required>
                <option value="">Select Input</option>
                <option value="text" <% if(entity.input_type=='text'){ %>selected <% } %>>Text Field</option>
                <option value="area" <% if(entity.input_type=='area'){ %>selected <% } %>>Text Area</option>
                <option value="date" <% if(entity.input_type=='date'){ %>selected <% } %>>Date</option>
                <option value="boolean" <% if(entity.input_type=='boolean'){ %>selected <% } %>>Yes/No</option>
                <option value="select" <% if(entity.input_type=='select'){ %>selected <% } %>>Dropdown</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Value Required</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" name="required">
                <option value="0" <% if(entity.required==0){ %>selected <% } %>>No</option>
                <option value="1" <% if(entity.required==1){ %>selected <% } %>>Yes</option>
              </select>
            </div>
          </div>
          <div id="OptionsYes" class="form-group row" style="display: <% if(entity.input_type=='select'){ %>block <% } else{ %>none <%} %>;">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <a class="btn btn-primary" onclick="addMoreRows(this.form)">Add row</a>
              <table class="table table-striped">
            		<thead>
            			<tr>
                    <th scope="col">Value</th>
                    <th scope="col"></th>
            			</tr>
            		</thead>
            		<tbody id="addedRows">
                  <%
                  if(entity.options != null){
                  let rowCount = 1000;
                   for(option of entity.options){
                     rowCount++; %>
                  <tr id="rowCount<%= rowCount %>" class="row">
                    <td style="padding: 2px 5px;">
                      <input name="sd[]" id="id2" type="text" value="<%= option %>" class="form-control">
                    </td>
                    <td style="padding: 2px 5px;">
                      <a class="input-field btn-floating red" href="javascript:void(0);" onclick="removeRow(<%= rowCount %>);" style="padding: 0px;"><i class="material-icons dp48" style="padding: 0px;margin: 0px;">delete</i></a>
                    </td>
                  </tr>
                  <% } } %>
                </tbody>
            	</table>
            </div>
          </div>
          <div id="OptionsNo" class="form-group row"style="display: none;">
              <input type="hidden" name="optionsNo" value="">
          </div>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/footer %>
