<% include ../../partials/header %>
<div class="page-header">
	<div class="page-title">
    Edit Category
	</div>
	<div class="page-actions">

	</div>
</div>
<div class="page-content">
    <form action="/settings/edit-category" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8">
                            <div class="form-group ">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" name="title" class="form-control" value="<%= category.title %>">
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Sort</label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="number" name="sort" class="form-control" value="<%= category.sort %>">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <% if(category.parent == 0){ %>
            <div class="form-group col-md-6">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Icon</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" name="icon" class="form-control" value="<%= category.icon %>">
                    <small>copy only the class content from font awsome "fas fa-mobile"</small>
                </div>
            </div>
            <% } else{ %>
                <input type="hidden" name="icon" value="">
            <% } %>
            <div class="form-group col-md-6">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Title Seo</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea name="seo_title" class="form-control "><%= category.seo.title %></textarea>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Keywords</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea name="keywords" class="form-control "><%= category.seo.keywords %></textarea>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea name="description" class="form-control"><%= category.seo.description %></textarea>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Footer Seo</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea name="footer_seo" class="form-control tinymce"><%= category.footer_seo %></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <input type="hidden" name="id" class="form-control" value="<%= category.id%>">
        <input type="hidden" name="parent" class="form-control" value="<%= category.parent %>">
    </form>
</div>
<% include ../../partials/footer %>
