<% include ../../partials/header %>
<div class="page-header">
	<div class="page-title">
		Settings
	</div>
	<div class="page-actions">

	</div>
</div>
<div class="page-content setting-page">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="Default-tab" data-toggle="tab" href="#Default" role="tab" aria-controls="Default" aria-selected="true">Default</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="FrontEnd-tab" data-toggle="tab" href="#FrontEnd" role="tab" aria-controls="FrontEnd" aria-selected="false">FrontEnd </a>
	</li>
	</ul>
	<div class="tab-content padding-20" id="myTabContent">
	  <div class="tab-pane fade show active" id="Default" role="tabpanel" aria-labelledby="Default-tab">
			<div class="row">
			  <div class="col-md-6">
					<div class="border-radius">
			      <h4 class="h4-header">Brands</h4>
			        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#addBrand" style="margin:0px 5px;">Add</button>
							<div class="clearfix"></div>
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
			      			<tr>
			              <th scope="col">Title</th>
			              <th scope="col" class="actions">Actions</th>
			      			</tr>
			      		</thead>
			      		<tbody>
			            <% for(var i = 0; i < brand.length; i++){ %>
			              <tr>
			                <td><%= brand[i].title %></td>
			                <td><a class="btn btn-primary btn-sm" href="/settings/edit-brand/<%= brand[i].id %>">Edit</a></td>
			              </tr>
			            <% } %>
			      		</tbody>
			      	</table>
						</div>
			  </div>
			  <div class="col-md-6">
					<div class="border-radius">
			        <h4 class="h4-header">Attributes Set</h4>
			        <!-- <a href="/settings/attribute-set" class="btn btn-success">New Attribute Set</a> -->
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
			      			<tr>
			              <th scope="col">Attribute</th>
			              <th scope="col">Entities</th>
			              <th scope="col" class="actions">Actions</th>
			      			</tr>
			      		</thead>
			      		<tbody>
			            <% for(var at of attrib){ %>
			              <tr>
			                <td>
			                  <%= at.title %>
			                </td>
			                <td>
												<% var aCount=0;
												 for(var a of att){
													if(at.id==a.attributes) { %>
			                  <% for(var e of entity){
			                    if(e.id==a.entities){
														 aCount=aCount+1; %>
			                      <%= e.title %>,
			                  <% } } } } %>
			                </td>
			                <td>
												<% if(aCount==0){ %>
													<a class="btn btn-primary" href="/settings/add-attribute-set/<%= at.id %>">Add</a>
												<% } else{ %>
			 										<a class="btn btn-primary" href="/settings/edit-attribute-set/<%= at.id %>">Edit</a>
												<% } %>
											</td>
			              </tr>
			            <% } %>
			      		</tbody>
			      	</table>
						</div>
			  </div>
			  <div class="col-md-6">
					<div class="border-radius">
			        <h4 class="h4-header">Attributes</h4>
			        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#addattrib" style="margin:0px 5px;">Add</button>
							<div class="clearfix"></div>
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
			      			<tr>
			              <th scope="col">Title</th>
			              <th scope="col" class="actions">Actions</th>
			      			</tr>
			      		</thead>
			      		<tbody>
			            <% for(var i = 0; i < attrib.length; i++){ %>
			              <tr>
			                <td><%= attrib[i].title %></td>
			                <td><a class="btn btn-primary" href="/settings/edit-attribute/<%= attrib[i].id %>">Edit</a></td>
			              </tr>
			            <% } %>
			      		</tbody>
			      	</table>
						</div>
			  </div>
			  <div class="col-md-6">
					<div class="border-radius">
			        <h4 class="h4-header">Entities</h4>
			        <a href="/Settings/add-entity" class="btn btn-success pull-right">Add Entity</a>
							<div class="clearfix"></div>
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
			      			<tr>
			              <th scope="col">Title</th>
			              <th scope="col" class="actions">Actions</th>
			      			</tr>
			      		</thead>
			      		<tbody>
			            <% for(var i = 0; i < entity.length; i++){ %>
			              <tr>
			                <td><%= entity[i].title %></td>
			                <td><a class="btn btn-primary" href="/settings/edit-entity/<%= entity[i].id %>">Edit</a></td>
			              </tr>
			            <% } %>
			      		</tbody>
			      	</table>
						</div>
			  </div>
			  <div class="col-md-6 col-sm-6 col-xs-12">
					<div class="border-radius">
			        <h4 class="h4-header">Categories</h4>
							<a class="btn btn-success" href="/settings/category">Edit</a>
							<div class="clearfix"></div>
			        <ul id="tree1">
								<%
								var cat=[];
								for(var cat1 of category){
									if(cat1.parent==0){
										 cat.push(cat1);
									}
								} %>
			          <% for(var cat1 of cat){ %>
			          <li>
			            <%= cat1.title %>
			             <ul>
										 <% for(var cat2 of category){
											 if(cat2.parent==cat1.id){ %>
											 <li>
											 	<%= cat2.title %>
												<ul>
													<% for(var cat3 of category){
														if(cat3.parent==cat2.id){ %>
															<li>
																<%= cat3.title %>
																<ul>
																	<% for(var cat4 of category){
																		if(cat4.parent==cat3.id){ %>
																			<li>
																				<%= cat4.title %>
																			</li>
																			<!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSub" onclick='PostCat("<%= cat3.id %>")' style="margin:0px 5px;">
																				Add Category
																			</button> -->
																		<% }
																	} %>
																	<li>
																		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSub" onclick='PostCat("<%= cat3.id %>")' style="margin:0px 5px;">
																			Add Category
																		</button>
																	</li>
																</ul>
															</li>
														<% }
													} %>
													<li>
														<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSub" onclick='PostCat("<%= cat2.id %>")' style="margin:0px 5px;">
						                  Add Category
						                </button>
													</li>
												</ul>
											 </li>
										 <% } } %>
			              <li>
			                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSub" onclick='PostCat("<%= cat1.id %>")' style="margin:0px 5px;">
			                  Add Category
			                </button>
			              </li>
			            </ul>

			          </li>
			          <% } %>
			          <li><button type="button" class="btn btn-success" data-toggle="modal" data-target="#addmain" style="margin:0px 5px;">Add Maincategory</button></li>
			        </ul>
			  </div>
			</div>
		</div>
		<div class="tab-pane fade" id="FrontEnd" role="tabpanel" aria-labelledby="FrontEnd-tab">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="border-radius">
							<h4 class="h4-header">Main Slider</h4>
							<a href="/settings/add-slider" class="btn btn-success pull-right" style="margin:0px 5px;">Add</a>
							<div class="clearfix"></div>
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Image</th>
										<th scope="col">Link</th>
										<th scope="col">Sort</th>
										<th scope="col" class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<% for(var s of slider){ %>
										<tr>
											<td>
												<%= s.image %>
											</td>
											<td>
												<%= s.link %>
											</td>
											<td>
												<%= s.sort %>
											</td>
											<td></td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="border-radius">
							<h4 class="h4-header">Featured Products</h4>
							<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#addFeatured" style="margin:0px 5px;">Add</button>
							<div class="clearfix"></div>
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Title</th>
										<th scope="col" class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<% for(var f of featured){ %>
										<tr>
											<td>
												<% for(var p of products){
													if(f.product == p.id){ %>
														<%= p.title.slice(0, 20).toLowerCase() %>
												<% }
												}%>
											</td>
											<td> <a href="/settings/delete-featured/<%= f.id %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Product?');">DELETE</a> </td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="border-radius">
							<h4 class="h4-header">Home Category</h4>
							<a href="/settings/add-main-category" class="btn btn-success pull-right">Add</a>
							<div class="clearfix"></div>
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Category</th>
										<th scope="col">Main Image</th>
										<th scope="col" class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<% for(var m of mCategory){ %>
										<tr>
											<td>
												<%
												for(var c of category){
													if(c.id == m.category){ %>
														<%= c.title %>
													<% }
												}
												%>
											</td>
											<td>
												<img src="https://www.static.phonestablets.co.ke/img<%= m.image.img %>" alt="<%= m.image.alt %>" width="100px">
												<br>
												<%= m.image.link %>
											</td>
											<td><a href="/settings/edit-main-category/<%=m.id%>">Edit</a>
												<!-- <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
						              <button type="button" class="btn btn-info" onclick="edit_location('<%= m.id %>')">Edit</button>
						            </div> -->
											</td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="border-radius">
							<h4 class="h4-header">Delivery Location</h4>
							<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#addLocation" style="margin:0px 5px;">Add</button>
							<div class="clearfix"></div>
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Region</th>
										<th scope="col">Location</th>
										<th scope="col" class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<% for(var l of location){ %>
										<tr>
											<td>
												<%= l.region %>
											</td>
											<td>
												<%= l.location %>
											</td>
											<td>
												<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
						              <button type="button" class="btn btn-info" onclick="edit_location('<%= l.id %>')">Edit</button>
						            </div>
											</td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="border-radius">
							<h4 class="h4-header">Courier</h4>
							<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#addCourier" style="margin:0px 5px;">Add</button>
							<div class="clearfix"></div>
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Name</th>
										<th scope="col">Phone</th>
										<th scope="col">Email</th>
										<th scope="col" class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<% for(var c of courier){ %>
										<tr>
											<td>
												<%= c.name %>
											</td>
											<td>
												<%= c.phone %>
											</td>
											<td>
												<%= c.email %>
											</td>
											<td>
												<a href="/settings/courier/<%= c.id %>">View</a>
											</td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="border-radius">
							<h4 class="h4-header">Front Shipping</h4>
							<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#addShipping" style="margin:0px 5px;">Add</button>
							<div class="clearfix"></div>
							<table class="table table-striped table-hover table-sm data-tables">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Location</th>
										<th scope="col">Amount</th>
										<th scope="col" class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<% for(var s of shipping){ %>
										<tr>
											<td>
												<% for(var l of location){
													if(s.location == l.id){ %>
												<%= l.location %>
												<% } } %>
											</td>
											<td>
												<%= s.amount %>
											</td>
											<td>
												<a href="/settings/edit-main-shipping/<%= s.id %>">Edit</a>
											</td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add Shipping</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
				<form action="/settings/add-main-shipping" method="post" autocomplete="off">
					<div class="row">
					 <div class="col-md-6">
						 <div class="form-group">
							 <label class="control-label col-md-12 col-sm-12 col-xs-12">Location</label>
							 <div class="col-md-12 col-sm-12 col-xs-12">
								<select class="custom-select" name="location">
									<option selected>Choose...</option>
									<%
									 for(var l of location){ %>
										 <option value="<%= l.id %>"><%= l.location %></option>
									 <% } %>
								 </select>
							 </div>
						 </div>
					</div>
					<div class="col-md-6">
						 <div class="form-group">
							 <label class="control-label col-md-12 col-sm-12 col-xs-12">Amount</label>
							 <div class="col-md-12 col-sm-12 col-xs-12">
								 <input type="text" name="amount" class="form-control">
							 </div>
						 </div>
					 </div>
					<div class="col-md-12">
						<div class="form-actions">
							 <button type="submit" class="btn btn-primary">Submit</button>
						 </div>
					</div>
					</div>
			 </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Edit Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div id="edit-location-body" class="modal-body">

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add Courier</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div id="location-body" class="modal-body">
         <form action="/settings/add-location" method="post" autocomplete="off">
					 <div class="form-group">
             <label class="control-label col-md-3 col-sm-3 col-xs-12">Region</label>
             <div class="col-md-9 col-sm-9 col-xs-12">
							 <select class="custom-select" name="region">
							    <option selected>Choose...</option>
							    <option value="central">Central</option>
							    <option value="coast">Coast</option>
							    <option value="eastern">Eastern</option>
									<option value="nairobi">Nairobi</option>
									<option value="north-eastern">North Eastern</option>
									<option value="nyanza">Nyanza</option>
									<option value="rift-valley">Rift Valley</option>
									<option value="western">Western</option>
							  </select>
             </div>
           </div>
					 <div class="form-group">
             <label class="control-label col-md-3 col-sm-3 col-xs-12">Location</label>
             <div class="col-md-9 col-sm-9 col-xs-12">
               <input type="text" name="location" class="form-control">
             </div>
           </div>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addCourier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add Courier</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
         <form action="/settings/add-courier" method="post" autocomplete="off">
					 <div class="form-group">
             <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
             <div class="col-md-9 col-sm-9 col-xs-12">
               <input type="text" name="name" class="form-control">
             </div>
           </div>
					 <div class="form-group">
             <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
             <div class="col-md-9 col-sm-9 col-xs-12">
               <input type="text" name="phone" class="form-control">
             </div>
           </div>
					 <div class="form-group">
             <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
             <div class="col-md-9 col-sm-9 col-xs-12">
               <input type="email" name="email" class="form-control">
             </div>
           </div>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addFeatured" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add Featured</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
         <form action="/settings/add-featured" method="post" autocomplete="off">
					 <table class="table table-striped table-hover table-sm data-tables">
 						<thead class="thead-dark">
 							<tr>
 								<th scope="col"></th>
								<th scope="col">Title</th>
								<th scope="col">Price</th>
 							</tr>
 						</thead>
 						<tbody>
 							<% for(var p of products){ %>
 								<tr>
 									<td>
										<div class="form-check text-center">
										  <input class="form-check-input position-static" type="checkbox" value="<%= p.id %>" name="product[]">
										</div>
 									</td>
									<td><%= p.title %></td>
									<td><%= p.price %></td>
 								</tr>
 							<% } %>
 						</tbody>
 					</table>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addSub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="/settings/add-category" method="post" class="row" autocomplete="off">
          <div class="form-group col-md-12">
            <label class="control-label col-md-12 col-sm-12 col-xs-12">Main Category</label>
            <div class="col-md-9 col-sm-9 col-xs-12" id="MainCat">
              <select class="form-control" name="parent">
                <option value="">Select Category</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-12 col-sm-12 col-xs-12">Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="title" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addmain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="/settings/add-main-category-pop" method="post" class="row" autocomplete="off">
          <div class="form-group col-md-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="title" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addBrand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add Brand</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="/settings/add-brand" method="post" autocomplete="off">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Brand</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="title" class="form-control">
            </div>
					</div>
					<div class="form-group">
						<label for="description" class="col-md-12 col-sm-12 col-xs-12">Description</label>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<textarea name="description" id="description" class="tinymce form-control"></textarea>
						</div>
					</div>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addattrib" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add Attribute</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
         <form action="/settings/add_attribute" method="post" autocomplete="off">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Attribute</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="title" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addEntity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
         <form action="/settings/addEntity" method="post" autocomplete="off">
          <div class="form-group row">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Label</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="title" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Input Type</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" name="input_type">
                <option value="text">Text Field</option>
                <option value="area">Text Area</option>
                <option value="date">Date</option>
                <option value="boolean">Yes/No</option>
                <option value="selact">Dropdown</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Value Required</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" name="required">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
            </div>
          </div>
          <div id="OptionsYes" class="form-group row" style="display: none;">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <a class="btn btn-primary" onclick="addMoreRows(this.form)">Add row</a>
              <table class="table table-striped table-bordered datatable-fixed-header">
            		<thead>
            			<tr>
                    <th scope="col">Value</th>
                    <th scope="col"></th>
            			</tr>
            		</thead>
            		<tbody id="addedRows"></tbody>
            	</table>
            </div>
          </div>
          <div id="OptionsNo" class="form-group row"style="display: none;">
            <input type="hidden" name="optionsNo">
          </div>
          <div class="row">
            <div class="form-actions">
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editBrand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add Brand</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="/settings/editBrand" method="post" autocomplete="off">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Brand</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input class="form-control" name="name">
            </div>
          </div>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary" name="addcolor_sumbit">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/footer %>
