<% include ../../partials/header %>
<div class="page-header">
	<div class="page-title">

	</div>
	<div class="page-actions">

	</div>
</div>
<div class="page-content">
	
</div>
<div class="page-header">
	<div class="page-title">
		Clients
	</div>
	<div class="page-actions">
		<a href="/client/add" class="btn btn-success pull-right">Add Client</a>
	</div>
</div>
<div class="page-content">
	<table class="table table-striped table-hover table-sm data-tables">
		<thead class="thead-dark">
			<tr>
	      <th scope="col">Name</th>
	      <th scope="col">Phone</th>
	      <th scope="col">Email</th>
	      <th scope="col" class="actions">Actions</th>
			</tr>
		</thead>
		<tbody>
	    <% for(var c of client){ %>
	    <tr>
	        <td><%= c.first_name %> <%= c.last_name %></td>
	        <td><%= c.phone %></td>
	        <td><%= c.email %></td>
	        <td class="actions">
	          <a href="/client/view/<%= c.id %>" class="btn btn-success">View</a>
	        </td>
	    </tr>
	    <% } %>
		</tbody>
	</table>
</div>
<% include ../../partials/footer %>
